.info__title {
    font-weight: 500;
    font-size: 42px;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    max-width: 294px;
    line-height: 48px;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .info__title {
        font-size: 32px;
        line-height: 38px;
        max-width: 235px;
    }
}

@media screen and (max-width: 1023px) {
    .info__title {
        font-size: 25px;
        line-height: 29px;
        max-width: 176px;
    }
}

@media screen and (max-width: 767px) {
    .info__title {
        font-size: 27px;
        line-height: 33px;
        max-width: 189px;
    }
}