.avatar-box__setting-avatar {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 47px;
    left: 47px;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 100;
    transition: 0.5s linear;
    opacity: 0;
}

@media screen and (max-width: 1279px) {
    .avatar-box__setting-avatar {
        top: 33px;
        left: 33px;
    }
}

@media screen and (max-width: 1023px) {
    .avatar-box__setting-avatar {
        top: 23px;
        left: 23px;
    }
}

@media screen and (max-width: 767px) {
    .avatar-box__setting-avatar {
        top: 47px;
        left: 47px;
    }
}